header{
	&.banner{
		background: $white url('../images/header__bg.png') no-repeat;
		padding-top: 215px;
    	padding-bottom: 30px;
		.brand{
			@include img-replace( 445px, 140px ); 
			background-image: url('../images/serviagro__logo.jpg');
			margin: 0 auto;
		}
	}
	&.pimary-nav{
		
			background-color: $blue;
		
	}
}