header{
	&.banner{
		background: $white url('../images/header__bg.png') no-repeat;
		padding-top: 275px;
    	padding-bottom: 50px;
		.brand{
			@include img-replace( 185px, 130px ); 
			background-image: url('../images/logo--xs.png');
			@media (min-width: 32.1em){
				@include img-replace( 445px, 85px ); 
				background-image: url('../images/logo--sm.png');
			}
			margin: 0 auto;
		}
	}
	&.pimary-nav{
		
			background-color: $blue;
		
	}
}