header{
	&.branded{
		/*background: $white url('../images/home__masshead__bg.png') no-repeat center center local; */
		.brand{
			@include img-replace( 160px, 100px ); 
			background-image: url('../images/logo--xs.png');
			@media (min-width: 32.1em){
				@include img-replace( 650px, 182px ); 
				background-image: url('../images/logo--lg.png');
			}
			position: absolute;
			top: 10%;
			@media (min-width: 32.1em){
				top: 45%;
			}
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	&.pimary-nav{
		background-color: $white;	
	@include keyframes(slideOutUp){
		0% {
		opacity: 0;
	  	@include transform(translateY(0));
	  }
		100% {
	  	opacity: 1;
	  	@include transform(translateY(0));
	  }
	}

	@include slideOutUp();
		&.showing{
			position: fixed;
			width: 100%;
			@include slideInDown(
				$duration: .25s,
			    $delay: .1s,
			    $function: ease
			);
		}	
	}
}