.home{
	.section{
		padding-top: 115px;
		padding-bottom: 55px;
		.scroll{
			text-align: center;
			margin-top: 55px;
		}
		.section-container{
			.page-header{
				margin-top: 0;
				margin-bottom: 55px;
				border-bottom: 1px solid transparent;
				h2{
					display: inline-block;
					@include font-size(32);
					padding: 0;
					margin: 0;
				}
			}
			.items{
				@include make-row();
				.item{
					padding: .75rem;
					.item-container{
						.item-caption{							
							h3{
								@include font-size(14);
							}
						}
					}
				}
			}
		}

		&.calling{
			background-color: $white;
			.section-container{
				@extend .container;
				@media (min-width: 32.1em){
					width: 45%;
				}
				text-align: center;
				.page-header{
					h2{
						color: $blue;
					}
				}
				p{
					color: $gray-text-light;
				}
			}
		}
		&.workflow{
			background-color: $blue;
			.section-container{
				text-align: center;
				img{
					margin: 0 auto;
				}
			}
		}
		&.goal{
			padding-top: 0;
			padding-bottom: 0;
			background-color: $green;
			.section-container{
				@extend .container-fluid;
				.page-header{
					color: $white;
					margin-bottom: 1.5rem;
				}
				.items{
					.item{
						@include make-col(12);
						&.goal__img{
							padding: 0;
						}
						&.goal__text{
							padding: 4rem 4rem 1rem;
						}
						@media (min-width: 32.1em){
							&.goal__img{
								@include make-col(5);
							}
							&.goal__text{
								@include make-col(7);
							}
						}
						.item-container{
							img{}
							.item-caption{
								color: $white;
								h3{
									color: $green-accent;
									text-transform: uppercase;
								}
								p{
									color: $white;
								}
							}
						}
					}
				}
			}
		}
		&.scope{
			padding-top: 0;
			padding-bottom: 0;
			background-color: $white;
			.section-container{
				@extend .container-fluid;
				.page-header{
					color: $blue;
				}
				.items{
					.item{
						@include make-col(12);
						&.scope__img{
							padding: 0;
						}
						&.scope__text{
							padding: 4rem 4rem 0.75rem;
						}
						@media (min-width: 32.1em){
							&.scope__img{
								@include make-col(3);
							}
							&.scope__text{
								@include make-col(9); 
							}
						}
						.item-container{
							img{}
							.item-caption{
								color: $gray-text-light;
								p{
									color: $gray-text-light;
								}
							}
						}
					}
				}
			}
		}
		&.components{
			padding-top: 0;
			padding-bottom: 0;
			background-color: $blue;
			.section-container{
			@extend .container-fluid;
			text-align: center;
			.page-header{
				color: $white;
			}
				.items{
					.item{
						@include make-col(12);
						&.components__img{
							padding: 0;
						}
						&.components__text{
							@media (min-width: 32.1em){
								padding: 4rem 35rem 3rem;
							}
						}
						.item-container{
							img{}
							.item-caption{
								h4{
									color: $blue;
								}
								p{
									color: $gray;
								}
							}
						}
					}
				}
			}
		}
		&.organizations{
			background: transparent url('../images/instituciones__bg.jpg') repeat center center;
			.section-container{
			@extend .container;
			text-align: center;
				.page-header{
					color: $white;
				}
				.items{
					.item{
						background-color: $white;
						border: 1px solid $gray-lighter;
						@include make-col(12);
						@media (min-width: 32.1em){
							@include make-col(3);
						}
						.item-container{
							background-color: $white;
							text-align: center;
							border: 0 none;
							margin-bottom: 0;
							img{
								@extend .card-img-top;
								@extend .img-fluid;
								filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
								filter: gray; /* IE6-9 */
								-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
								
							}
							.item-caption{
								@extend .card-block;
								background-color: transparent;
								h4{
									@extend .card-title;
									color: $white;
								}
								p{
									@extend .card-text;
									color: $gray;
								}
							}
							.list-group{
								text-align: left;
							}
						}
						&:hover{
							.item-container{
								img{
									 filter: none;
                                     -webkit-filter: grayscale(0%);
								}
							}
						}
					}
				}
			}
		}
	}
	.popover{
		.popover-content{
			padding: 0;
			ul{
				@extend .list-group;
				li{
					@extend .list-group-item;
				}
			}
		}
	}
}