.home{
	.section{
		padding-top: 115px;
		padding-bottom: 55px;
		.scroll{
			text-align: center;
			margin-top: 55px;
		}
		.section-container{
			@extend .container;
			.page-header{
				margin-top: 0;
				margin-bottom: 55px;
				text-align: center;
				border-bottom: 1px solid transparent;
				h2{
					display: inline-block;
					@include font-size(24);
					text-transform: uppercase;
					padding: 0;
					margin: 0;
					&:after{
						content: '';
					    display: block;
					    width: 40px;
					    height: 2px;
					    margin: .5em auto 0;
					    background-color: $gray-light;
					}
				}
			}
			.items{
				@include make-row();
				.item{
					padding: .75rem;
					.item-container{
						@extend .card; 
					}
				}
			}
		}

		&.calling{
			background-color: $blue-light;
			.section-container{
				.items{
					.item{
						@include make-col(6);
						@media (min-width: 32.1em){
							@include make-col(3);
						}
						.item-container{
							background-color: $gray-lightest;
							img{
								@extend .card-img-top;
								width: 100%;
							}
							.item-caption{
								text-align: center;
								@extend .card-block;
								background-color: $white;
								h4{
									@extend .card-title;
									font-size: 1rem;
								}
								p{
									@extend .card-text;
									color: $gray;
									display: none;
								}
								@media (min-width: 32.1em){
									h4{
										font-size: 1.5rem;
									}
									p{
										display: block;
									}
								}
							}
						}
						&:hover{
							.item-container{
								background-color: $white;
								a{
									text-decoration: none;
									.item-caption{
										background-color: $green;
										h4, p{
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.components{
			background: $green url('../images/componentes__bg.jpg') no-repeat;
			-webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			.section-container{
				.items{
					.item{
						@include make-col(12);
						@media (min-width: 32.1em){
							@include make-col(6);
						}
						.item-container{
							background-color: transparent;
							border: 5px solid $green;
							img{
								@extend .card-img-top;
								width: 100%;
							}
							.item-caption{
								@extend .card-block;
								background-color: transparent;
								h4{
									@extend .card-title;
									color: $blue;
								}
								p{
									@extend .card-text;
									color: $gray;
								}
							}
						}
						&:hover{
							.item-container{
								background-color: $green;
								border:5px solid $green;
								a{
									text-decoration: none;
									.item-caption{
										p{
											color: $gray-dark;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.organizations{
			background-color: white;
			.section-container{
				.items{
					.item{
						border: 1px solid $gray-lighter;
						@include make-col(12);
						@media (min-width: 32.1em){
							@include make-col(3);
						}
						.item-container{
							background-color: transparent;
							text-align: center;
							border: 0 none;
							margin-bottom: 0;
							img{
								@extend .card-img-top;
								@extend .img-fluid;
								filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
								filter: gray; /* IE6-9 */
								-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
								
							}
							.item-caption{
								@extend .card-block;
								background-color: transparent;
								h4{
									@extend .card-title;
									color: $white;
								}
								p{
									@extend .card-text;
									color: $gray;
								}
							}
							.list-group{
								text-align: left;
							}
						}
						&:hover{
							border: 1px solid $gray-light;
							.item-container{
								img{
									 filter: none;
                                     -webkit-filter: grayscale(0%);
								}
							}
						}
					}
				}
			}
		}
	}
	.popover{
		.popover-content{
			padding: 0;
			ul{
				@extend .list-group;
				li{
					@extend .list-group-item;
				}
			}
		}
	}
}