// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Custom colors
$white:					#FFFFFF;
$green:					#8CC43D;
$green-light:			#8CC43D;	
$blue:					#005CA1;

// Colors
$brand-primary:         $blue;