// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Custom colors
$green:					#00A954;
$green-light:			#77C692;	

