// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Custom colors
$white:					#FFFFFF;
$green:					#8CC43D;
$green-light:			#64B57D;	
$blue:					#005CA1;
$blue-light:			#ECF2FA;

// Colors
$brand-primary:         $blue;